<section class="container errorp">
  <div class="errorp__code">429</div>
  <h1>Слишком много попыток</h1>
  <p><%= typeof message !== 'undefined' ? message : 'Попробуйте позже.' %></p>
  <a href="/" class="btn btn--accent btn--lg">На главную</a>
</section>
